<%= render(partial: 'users/shared/header') %>

<main>
  <h2>Please sign in</h2>

  <%= form_for(:user, as: :user, method: :post, url: users_sign_in_path) do |f| %>
    <p>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', required: true, value: user_email %>
    </p>

    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: 'current-password', required: true %>
    <p>

    <p>
      <%= f.submit 'Log in' %>
    <p>
  <% end %>

  <%= render(partial: 'users/shared/links/sign_up') %><br />
  <%= render(partial: 'users/shared/links/reset_password') %>
</main>
