<!DOCTYPE html>
<html>
  <head>
    <title>Todo B/CDD</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="errors">
    <header>
      <h1>To-do B/CDD</h1>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
