<%= render(partial: 'users/shared/header') %>

<main>
  <h2>Sign up</h2>

  <p>Please fill in this form to create an account!</p>

  <%= form_for(:user, as: :user, url: users_registration_path) do |f| %>
    <p>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', value: user_email, required: true %>
    </p>

    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: 'new-password', required: true %>
    </p>

    <p>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: 'new-password', required: true %>
    </p>

    <p>
      <%= f.submit 'Sign up' %>
    </p>
  <% end %>

  <%= render(partial: 'users/shared/links/sign_in') %><br />
  <%= render(partial: 'users/shared/links/reset_password') %>
</main>
